header {
    display: flex;
    position: relative;
    bottom: .5rem;
    height: 7.75rem;

    background: #140E27;
}

.brightlogo {
    position: relative;
    width: 4rem;
    height: 4rem;
    left: 5.25rem;
    top: 1.875rem;
}

.brightname {
    position: relative;
    left: 10rem;
    bottom: 3.3rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #ECECEC;
}

.brightname:hover {
    cursor: pointer;
}

.brightlist {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 26rem;
}

.brightlist h3 {
    margin-left: 3.125rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4375rem;
    color: #BCBCBC;
    transition: .5s;
}

.brightlist h3:hover {
    color: #ECECEC;
    cursor: pointer;
}

.brightlogin {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;
    top: 1.5rem;
    left: 44rem;

    width: 12.0625rem;
    height: 4.5625rem;

    border-radius: .5rem;

    background: #140E27;
    color: #B1B1B1;

    transition: .5s;
}

.brightlogin h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4375rem;
}

.brightlogin:hover {
    background: #17104B;
    color: #ECECEC;
    cursor: pointer;
}