footer {
    display: flex;
    position: relative;
    bottom: 10rem;
    height: 2.5rem;
    background: #140E27;
}

.brightlogoname {
    position: relative;
    top: 2rem;
    left: 5.25rem;
    width: 20rem;
    height: 7.25rem;
}

.listRules {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    left: 10.5rem;
    top: 4rem;
}

.listRules .rules {
    margin-left: 6rem;
    width: 14.3125rem;
    height: 8.5rem;
}

.listRules .rules .title {
    position: relative;
    bottom: 1.5rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;

    color: #ECECEC;
}

.listRules .rules .list h4 {
    position: relative;
    bottom: 2rem;
    margin-top: -.75rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #B1B1B1;
}
