.howworks {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 51.125rem;
    background: #090620;
}

.howworks .title h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.625rem;
    text-align: center;
    color: #ECECEC;
}